* {
  margin: 0;
  padding: 0;
}


/* generic styles */
body { background-color: #fafafa; }

.flex { display: flex; }


/* Board styles */
.box-game {
  position: relative;
  text-align: center;
}

.btn-center {
  left: 95%;
  position: absolute;
  top: 0;
}

.box-board-flex {
  align-items: center;
  display: flex;
}

.container-box-board {
  margin: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 70vh;
}

.box-board {
  position: absolute;
  top:50%;
  transform: translate(-50%,-50%);
  left: 50%;
  padding: 5px;
}